# Ignore .env files in any folder
.env
.env.*

# Ignore local impeccable product context
/PRODUCT.md

# Ignore local private keys
private_key.pem

.agents

CLAUDE.md
.claude

skills-lock.json
public_key.pem