
.pricingpage {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.return-btn {
    margin: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid var(--color-border-secondary);
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: var(--color-background-secondary);
    transition: background-color 0.3s ease;
}

.return-btn:hover {
    background-color: var(--color-background-tertiary);
}

.return-text {
    font-size: 12px;
    font-weight: 700;
}

.cancelsub-btn {
    font-size: 12px;
    border: 1px solid var(--color-border-danger);
    border-radius: 0.3rem;
    color: var(--color-text-danger);
    background-color: var(--color-background-danger);
}

.pricingpage-error {
    margin: 0.5rem;
    color: var(--color-text-danger);
    font-size: 12px;
}