.toast-root {
    border: 1px solid var(--color-border-danger);
    background-color: color-mix(in srgb, var(--color-background-danger) 90%, transparent);
    padding: 0.6rem;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    align-items: center;
    max-width: 250px;
}

.toast-error-icon {
    margin-right: 0.5rem;
    color: red;
}

.toast-header {
    display: flex;
    flex-direction: row;
}

.toast-title {
    color: var(--color-text-primary);
    font-size: 12px;
    font-weight: 700;
}

.toast-desc {
    color: var(--color-text-danger);
    font-size: 10px;
    font-weight: 500;
}

.toast-close {
    color: red;
    margin-left: 0.3rem;
}
