.menubar-btn {
  background-color: var(--color-background-secondary);
  padding: calc(var(--spacing) * 3);
  transition: background-color 0.15s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menubar-btn:hover {
  background-color: var(--color-background-primary);
}