.sessionmismatch {
    background-color: var(--color-background-warning);
    border: 1px solid var(--color-border-warning);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.sessionmismatch-main {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    font-size: 12px;
    padding: 0.6rem 0.6rem 0 0.6rem;
    border-bottom: 1px solid var(--color-border-warning);
    color: var(--color-text-warning);
}

.sessionmismatch-maintext {
    min-width: 0;
}

.sessionmismatch-icon {
    flex-shrink: 0;
}

.sessionmismatch-title {
    font-weight: 700;
}

.sessionmismatch-desc {
    margin: 0.2rem 0 0.6rem;
    min-width: 0;
}

.sessionmismatch-desc span {
    overflow-wrap: break-word;
    min-width: 0;
}

.sessionmismatch-tooltip {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding: 0 10px 0 0;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-text-warning);
}

.sessionmismatch-footer {
    padding: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.return-session-btn {
  background-color: var(--color-background-warning);
  color: var(--color-text-warning);
  border-radius: 0.5rem;
  border: 1px solid var(--color-border-warning);
  padding: 8px;
  transition: background-color 0.15s ease;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

.return-session-btn:hover {
  text-decoration: none;
  background-color: color-mix(in srgb, var(--color-background-warning) 84%, var(--color-border-warning));
}

.sessionmismatch-url {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: light-dark(rgb(137, 137, 44), rgb(215, 215, 75));
}