#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: stretch;
  height: auto;
}

.app-shell {
  background: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  transition: background 0.3s ease
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-ring-primary); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-ring-secondary); 
}

.app-page-panel {
  width: 100%;
  min-height: 100%;
}
